<p id="notice"><%= notice %></p>

<p>
  <strong>Expire date:</strong>
  <%= @dispatch.expire_date %>
</p>

<%= link_to 'Edit', edit_dispatch_path(@dispatch) %> |
<%= link_to 'Back', dispatches_path %>
